<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Cases
      </h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="cases-link is-active"><a>Cases</a></li>
          <li class="hearings-link"><a>Hearings</a></li>
          <li class="documents-link"><a>Documents</a></li>
        </ul>
      </div>
    </nav>
  </div>

</section>

<section class="main section">
  <div class='main container'>

  <%= link_to 'New Case', new_case_path, id: 'new-case-button', class: "button is-pulled-right is-primary"  %>

  <div class="cases">
    <table class="table">
      <thead>
        <tr>
          <th>Case</th>
          <th>Uid</th>
        </tr>
      </thead>

      <tbody>
        <% @cases.each do |kase| %>
          <tr>
            <td><%= link_to kase.title.titleize, kase %></td>
            <td><%= kase.uid %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="hearings">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Case</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <% @hearings.sort_by(&:time).each do |hearing| %>
          <tr>
            <td>
              <%= hearing.time.strftime("%m/%d/%Y") %>
              <br>
              <%= hearing.time.strftime("%I:%M%p") %></td>
            <td><%= link_to hearing.case.title.titleize, hearing.case %></td>
            <td><%= hearing.location %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="documents">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Filed By</th>
          <th>Case</th>
        </tr>
      </thead>

      <tbody>
        <% @documents.sort_by(&:date).reverse.each do |doc| %>
          <tr>
            <td><%= doc.date.strftime("%m/%d/%Y") if doc.date %></td>
            <td><%= doc.title %></td>
            <td><%= doc.filed_by %></td>
            <td><%= doc.case.title.titleize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>
</section>

<%= form_for(@case) do |f| %>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New Case</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

      <div class="field">
        <%= f.label :uid, class: 'label' %>
        <div class="control">
          <%= f.text_field :uid, class: 'input' %>
        </div>
        <p class="help">Unique ID for case (e.g. RT158392)</p>
      </div>

      <div class="control">
        <%= f.label :case_type, class: 'label' %>
        <div class="field">
          <%= collection_radio_buttons(:case, :case_type_id, CaseType.all, :id, :title) %>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <%= f.submit 'Save', class: 'button is-success' %>
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>
<% end %>
