<%= form_for(voice_message) do |f| %>
  <% if voice_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voice_message.errors.count, "error") %> prohibited this voice_message from being saved:</h2>

      <ul>
      <% voice_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :is_new %>
    <%= f.check_box :is_new %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
