<p id="notice"><%= notice %></p>

<h1>Voice Messages</h1>

<% unless @voice_messages.select(&:is_new).empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Message</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @voice_messages.select(&:is_new).each do |voice_message| %>
        <tr>
          <td><%= voice_message.created_at.strftime("%b %d, %Y at %I:%M%p") %></td>
          <td>
            <audio controls>
              <source src="<%= voice_message.url%>" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </td>

          <td><%= link_to 'Mark Done', voice_message, method: :put, class: "btn btn-info" %></td>


          <td><%= link_to 'Delete', voice_message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @voice_messages.reject(&:is_new).empty? %>
  <h3>Old Messages</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Message</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @voice_messages.reject(&:is_new).each do |voice_message| %>
        <tr>
          <td><%= voice_message.created_at.strftime("%b %d, %Y at %I:%M%p") %></td>
          <td>
            <audio controls>
              <source src="<%= voice_message.url%>" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </td>

          <td><%= link_to 'Mark New', voice_message, method: :put, class: "btn btn-info" %></td>


          <td><%= link_to 'Delete', voice_message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
