<!DOCTYPE html>
<html>
  <head>
    <title>CourtTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="/">
          <span class="icon">
            <i class="fa fa-gavel" aria-hidden="true"></i>
          </span>
          <span>
          CrtTrkr
          </span>
        </a>
        <button class="button navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>


      </div>

      <% if user_signed_in? %>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <%= link_to 'Cases', cases_path, class: 'navbar-item' %>
          <%= link_to 'Voicemail', voice_messages_path, class: 'navbar-item' %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class="icon">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </a>

            <div class="navbar-dropdown is-right">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>

              <hr class="navbar-divider">

              <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-item' do  %>
                <span class="icon">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
                Logout
                <span>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% end %>
    </nav>

      <%= yield %>

  </body>
</html>
