<!DOCTYPE html>
<html>
  <head>
    <title>CourtTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Hello World
        </h1>
        <p class="subtitle">
        My first website with <strong>Bulma</strong>!
        </p>
      </div>
    </section>


    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= alert %>
      </div>
    <% end %>

    <div class="container">

      <nav>

        <% if user_signed_in? %>
          <span class="<%= 'active' if params[:controller] == 'cases' %>"> <%= link_to 'Home', cases_path, :class => 'navbar-link' %> | </span>
          <span class="<%= 'active' if params[:controller] == 'voice_messages' %>"> <%= link_to "Messages", voice_messages_path, :class => 'navbar-link' %> | </span>
        <% end %>

        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>

      </nav>

      <%= yield %>
    </div>


  </body>
</html>
